{% spaceless %}
	{%- set i = 0 -%}
	{%- for key, renderOption in renderOptions -%}
		<p>{{ key }}</p>
		<div class="row">
		{%- for i, option in renderOption -%}
			{%- if brick_id in option["bricks"] -%}
				{%- set checkboxName = "render-option-" ~ option["id"] -%}
				<div class="col-4">{{ pimcore_checkbox(checkboxName) }} {{ option["name"] }}</div>
			{%- endif -%}
		{%- endfor -%}
		</div>
		{%- set i = i + 1 -%}
	{%- endfor -%}
{% endspaceless %}