@mixin arrows() {
	.slick-arrow {
		&.slick-prev {
			left: -15px;
			z-index: 1;
		}
		&.slick-next {
			right: -15px;
			z-index: 1;
		}
		
	}
}

@mixin track() {
	.slick-track {
		img {
			width: 100%;
		}
	}
}

@mixin dots() {
	.slick-dots {
	}
}

.slick-slider {
	margin-left: 15px;
	margin-right: 15px;
	@include track;
	@include arrows;
	@include dots;
}
