{% spaceless %}
	<div class="toolbox-element-edit-button" data-title="{{ document_editable_name }}"></div>
	<div class="toolbox-element-window toolbox-element-window-hidden" data-edit-window-size="{{ window_size }}">
		<div class="backendTabs">
			<div class="microlib_tabs_tab" data-title="{{ "General"|trans }}">
				{% include "@Design/Admin/AreaConfig/Elements/generalTab.html.twig" %}
			</div>
			<div class="microlib_tabs_tab advanced" data-title="Advanced">
				{% include "@Design/Admin/AreaConfig/Elements/advancedTab.html.twig" %}
			</div>
			<div class="microlib_tabs_tab spacing" data-title="Spacing">
				{% include "@Design/Admin/AreaConfig/Elements/spacingTab.html.twig" %}
			</div>
		</div>
	</div>
{% endspaceless %}