<link rel="stylesheet" type="text/css" href="../../../../../../static/vendor/slick-carousel/slick/slick.css">
<link rel="stylesheet" type="text/css" href="../../../../../../static/vendor/slick-carousel/slick/slick-theme.css">
<script src="../../../../../../static/vendor/slick-carousel/slick/slick.min.js"></script>

<link rel="stylesheet" type="text/css" href="../../../../../../static/css/design/design.css">

<script>
	$(document).ready(function() {
		var slider = $(".slick-slider");
		slider.each(function() {
			var start = $(this).attr("class").indexOf("gallery")
			var end = $(this).attr("class").indexOf(" ", start);
			var sliderId = $(this).attr("class").substring(start, end);
			$("."+sliderId).slick({
				adaptiveHeight: {{adaptiveHeight == "" ? 'false' : 'true'}},
				autoplay: {{autoplay == "" ? 'false' : 'true'}},
				dots: {{dots == "" ? 'false' : 'true'}},
				arrows: {{arrows == "" ? 'false' : 'true'}},
				speed: {{speed}},
				autoplaySpeed: {{autoplaySpeed}}
			});
		});
	});
</script>

{% set areaId = "Gallery" %}
{% set margin = distances["margin"] ? distances["margin"] : "" %}
{% set padding = distances["padding"] ? distances["padding"] : "" %}

<div class="{{ margin }} {{ padding }} {{ renderOptions }}">
{%- if editmode -%}
	{{ elementConfigBar|raw }}
	{%- set output = "Es befinde" -%}
	{%- if images|length == 1 -%}
		{%- set output = output ~ "t sich " ~ images|length ~ " Bild" -%}
	{%- else -%}
		{%- set output = output ~ "en sich " ~ images|length ~ " Bilder" -%}
	{%- endif -%}
	{%- set output = output ~ " in dieser Galerie" -%}
	<p>{{output}}</p>
{%- else -%}
	{{ include("@Toolbox/Areas/gallery/view.html.twig") }}
{%- endif -%}
</div>
